.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.wrapper {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: space-around;
}

@media (max-width: 900px) {
  .wrapper {
    justify-content: center;
  }
}