.code__wrapper {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  user-select: none;
}

.code__wrapper .item_light {
  color: rgb(255 164 108);
}

.input__code>.input__tip,
.input__code>.input__help {
  font-size: .83rem;
}

.code__wrapper .item:first-child,
.code__wrapper .item:last-child {
  padding-left: 0;
}

.code__wrapper .item:not(:first-child):not(:last-child) {
  padding-left: 1vw;
}

.code__wrapper .nested {
  padding-left: 2vw;
}

.input__code,
.markup {
  opacity: 0.5;
}

.tag::before {
  content: "<";
}

.tag::after {
  content: ">";
}

@media (max-width: 1200px) {
  .input__code>.input__tip {
    line-height: 180%;
  }
}
