* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  background-color: #131210;
  color: #FFE8CA;
  font-size: 1rem;
  /* background-color: #616161; */
}
/* //////////// header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 0vw 2vw;
  border-bottom: 1px #808080 solid;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.logo__ico {
  background-color: #ff5100;
  background-image: url('../assets/img/ico-ninja-cat.jpg');
}

.logo__ico {
  width: 3vw;
  height: 3vw;
  background-size: cover;
}

.help {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 2vw;
  height: 2vw;
  margin-top: 0.5vw;
  border-radius: 50px;
  border: 1px rgb(235, 97, 54) solid;
}

.help::before {
  content: '?';
  color: #ff5100;
  font-size: 1.5rem;
}

.logo__title {
  color: rgb(226, 43, 217);
  color: #FFE8CA;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  padding: 0vw 1vw;
}

/* /////////////// main //////// */

.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.wrapper {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: space-around;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* /////////////// lanterns ///////// */

.game__lanterns {
  display: flex;
  padding: 1.4vw 28vw;
}

.lantern:after {
  content: "";
  position: absolute;
  /* top: -6px; */
  /* left: 20px; */
  /* width: 40px; */
  /* height: 6px; */
  background-color: #808080;
  top: -0.5vw;
  left: 0.6vw;
  width: 3.2vw;
  height: 0.5vw;
  z-index: 3;
}

.lantern {
  display: flex;
  content: "";
  position: absolute;
  justify-content: center;
  align-items: center;
  /* top: 30px; */
  top: 5.3vw;
  left: -10px;
  /* width: 80px; */
  /* height: 85px; */
  width: 6.3vw;
  height: 6.7vw;
  /* background: radial-gradient(circle farthest-side at center center, rgb(253, 135, 63) 0%, rgb(235, 97, 54) 100%); */
  background: radial-gradient(circle farthest-side at center center, rgb(255 164 108) 0%, rgb(232 98 56) 100%);
  border-radius: 10px;
  z-index: 2;
  width: 4.4vw;
  height: 4.7vw;
}

.lantern:before {
  content: "";
  position: absolute;
  /* top: -40px; */
  /* left: 38px; */
  /* width: 3px; */
  /* height: 40px; */
  top: -2.3vw;
  left: 2.1vw;
  width: 0.2vw;
  height: 2vw;
  background-color: #808080;
}

.lantern .lantern__title {
  color:#FFE8CA;
  /* font-size:40px; */
  /* font-family:'ＭＳ Ｐゴシック', 'MS PGothic', 'メイリオ', Meiryo, sans-serif; */
  /* top:10px; */
  /* left:10px; */
  font-size: 1.5rem;
  font-weight: 400;
  opacity: 0.9;
}

.lantern:nth-child(1) {
  /* left:50px; */
  left: 3vw;
}

.lantern:nth-child(2) {
  /* left:200px; */
  left: 13vw;
}

.lantern:nth-child(3) {
  /* left:380px; */
  left: 46vw;
}

.lantern:nth-child(4) {
  /* left:520px; */
  left: 56vw;
}
/* /////////////////// */

.tag::before {
  content: "<";
}

.tag::after {
  content: ">";
}

.highlight {
  color: #b3b3b3;
  background: rgb(255 255 255 / 15%);
  padding: 0.5vw 0.7vw;
  font-size: 1.5rem;
  width: fit-content;
  border-radius: 5px;
}

/* /////////////////////// */

.game__quest {
  color: #FFE8CA;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  padding: 1vw 2vw 3vw 2vw;
  width: 55%;
}

/* ///game__table////// */

.game__table {
  /* transform: rotateX(30deg);
  min-height: 142px;
  transform-origin: bottom;
  z-index: 9999;
  position: relative;
  margin: 10px auto 0 auto;
  width: 250px; */
  /* width: 300px;
  height: 200px;
  background: #CBAD8C;
  border-radius: 8px;
  box-shadow: 12px 8px 0 rgba(#000, 0.1);
  box-shadow: 0px 40px 10px rgba(0,0,0,.2); */
  display: flex;
  flex-grow: 1;
  justify-content: center;
} 

.table__wrapper {
  /* box-shadow: 0px 40px 10px rgba(0,0,0,.2);
    background: #dd992d;
    background: -webkit-linear-gradient(#dd992d,#cd8c26);
    background: linear-gradient(#dd992d,#cd8c26);
    position: absolute;
    height: 100%;
    bottom: 0;
    width: 100%; */
}

.table__surface {
  /* width: 700px; */
  background: #cfa672;
  background: #ce964d;
  background-image: url('../assets/img/wood-pattern.png');
  /* height: 400px; */
  border-radius: 10px;
  /* -webkit-transform: rotateX(140deg) rotateZ(); */
  /* transform: rotateX(140deg) rotateZ(0deg) skew(1deg); */
  box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 20px 10px rgb(110 109 109 / 20%);
  width: 55vw;
  height: 19vw;
}

.table__content {
  display: flex;
  /* background: aqua; */
  position: absolute;
  /* top: 5px; */
  /* padding: 10px; */
  width: 50vw;
  height: 12vw;
  /* top: 5px; */
  /* padding: 10px; */
  margin: 1vw;
}
/* ////////////////////// WIN  */
/* content: 'YOU WIN!'; */
.table__surface.win {
  background: #000;
  background-image: url('../assets/img/wood-pattern.png');

}

.table__content.win {
  background-image: url('../assets/img/ninja.jpg');
  background-size: cover;
  margin: 0;
  width: 19vw;
  height: 19vw;
}

.table.win {
  display: none;
}

.game__chopsticks.win {
  display: none;
}

/* ///////////////////////////// */

.game__chopsticks {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -5vw;
  /* left: 30px; */
}

.chopstick {
  height: 20px;
  width: 650px;
}

.chopstick__back {
  height: 18px;
  background: red;
  width: 10px;
  background-image: url('../assets/img/45-degree-dark.png');
  display: inline-block;
  top: 7px;
  left: 3px;
  position: relative;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.chopstick__top {
  background: #000;
  height: 10px;
  width: 600px;
  position: relative;
  left: -1px;
  background-image: url('../assets/img/45-degree-dark.png');
  display: inline-block;
  -webkit-clip-path: polygon(30% 0, 100% 50%, 100% 100%, 0% 100%, 0% 30%, 0% 0%);
  clip-path: polygon(30% 0, 100% 70%, 100% 100%, .5% 100%, 0 30%, 0% 0%);
}

.chopstick__bottom {
  background: #241e18;
  height: 10px;
  width: 600px;
  top: -11px;
  left: 9px;
  background-image: url('../assets/img/45-degree-dark.png');
  position: relative;
  display: inline-block;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 100% 30%, 0% 100%, 0% 100%, .5% 0%);
  clip-path: polygon(50% 0, 100% 0, 100% 30%, 30% 100%, 0% 100%, .5% 0%);
  box-shadow: 5px 5px 5px 5px #353535;
}


/* ///////////////////// */

.game__editor {
  display: flex;
  justify-content: center;
  align-items: flex-start;  
  /* text-align: left; */
  margin: 0 auto;
  border: solid 0.5vw rgb(0 0 0 / 45%);
  border-radius: 5px;
  width: 90%;
  box-shadow: 10px 5px 5px rgb(110 109 109 / 20%);
}

.editor__pane {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex-grow: 1;
  width: 50%;
}

.editor__header-input {
  display: flex;
  justify-content: space-between;
  background: #0f0a07;
  color: #FFE8CA;
  padding: 0.5vw;
}

.editor__file-name {
  opacity: 0.5;
}

.editor__window {
  display: flex;
  border: 1px #ffe8ca9c solid;
  flex-grow: 1;
  background-color: #1a1918;
}

.css-pane>.editor__window {
  justify-content: center;
}

.editor__line-numbers {
  display: flex;
  white-space: pre;
  padding: .5vw;
  background-color: #53525263;
  line-height: 150%;
}
.css-pane>.editor__window>.editor__line-numbers {
  background-color: #a5a2a28a;
}

.css-pane>.editor__window>.editor__code {
  background-color: #4a4846;
  width: 100%;
  /* padding: 0.1vw 0.5vw; */
}

.editor__code {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5vw;
  /* opacity: 0.7; */
}

.input__wrapper {
  display: flex;
  justify-content: space-between;
  /* flex-shrink: 1; */
  width: 100%;
}

.input__field {
  width: calc(100% - 4vw);
  color: rgb(255 164 108);
  border: none;
  background: #ffe8ca4f;
  -webkit-animation: input .7s infinite;
  -moz-animation: input .5s infinite;
}

.input__field::placeholder {
  color: #FFE8CA;
}

.input__field:focus {
  border-color:  #FFE8CA;
  outline: none;
}

@-webkit-keyframes input {
  50% { background:none ; }
}

@-moz-keyframes input {
  50% { background:none ; }
}


.input__enter {
  display: flex;
  width: 4vw;
  padding: 0.2vw;
  align-items: center;
  justify-content: center;
  color: #FFE8CA;
  background: radial-gradient(circle farthest-side at center center, rgb(255 164 108) 0%, rgb(232 98 56) 100%);
  border-radius: 3px;
  border: 1px #808080 solid;
  cursor: pointer;
}

.code__wrapper {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}

.code__wrapper .item_light {
  color: rgb(255 164 108);
}

.input__code>.input__tip,
.input__code>.input__help {
  font-size: .83rem;
}

.code__wrapper .item:first-child,
.code__wrapper .item:last-child {
  padding-left: 0;
}


.code__wrapper .item:not(:first-child):not(:last-child) {
  padding-left: 1vw;
}

.code__wrapper .nested {
  padding-left: 2vw;
}

.input__code,
.markup {
  opacity: 0.5;
}



/* //////////////////////////////// LVL */

.lvl__about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 0.3;
  padding: 2vw 1vw;
  border-left: 1px #808080 solid;
  height: calc(100vh - 3vw - 1px);
  width: 20.9vw;
}

.lvl__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.lvl__title {
  font-size: 1.5rem;
}

.lvl__checkmark {
  width: 1vw;
  height: 1.7vw;
  border: solid 3px rgb(255, 191, 152);
  border-width: 0 4px 4px 0;
  transform: rotate(40deg);
}

.lvl__checkmark .completed {
  border: solid 3px rgb(232 98 56);
}

.lvl__nav {
  display: flex;
  justify-content: space-between;
  width: 3vw;
}

.arrow__prev,
.arrow__next {
  /* margin-left: 1vw; */
  width: 1.5vw;
  height: 1.5vw;
  border: solid 3px rgb(255, 191, 152);
  transform: rotate(45deg);
}

.arrow__prev {
  border-width: 0 0 4px 4px;
}

.arrow__next { 
  border-width: 4px 4px 0 0;
}

.lvl__progress-bar {
  width: 100%;
  background: #808080;
  height: 0.3vw;
  margin: 1vw 0;
  border-radius: 5px;
}

.lvl__progress {
  background: rgb(232 98 56);
  width: 10%;
  height: 0.3vw;
  border-radius: 5px;
}

.description__selector-name {
  font-size: 1.5rem;
}

.description__title {
  margin: 1vw 0;
  font-size: 1.3rem;
  opacity: 0.5;
}

.lvl__examples {
  margin: 1vw 0;
  font-size: 1.2rem;
}

.example {
  margin: 1vw 0;
  line-height: 180%;
}

.example>.highlight {
  padding: 0.3vw 0.5vw;
  font-size: 1rem;
}

/* //////////////////// table__content/////////////////////// */

.table {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  
}

.table plate {
  display: flex;
  width: 10vw;
  height: 50%;
  margin: 0.5vw;
  background: radial-gradient(ellipse at center, rgb(255 255 255 / 35%) 0%, rgba(255,255,255,.35) 32%, rgba(0,0,0,.15) 35%, rgba(0,0,0,.05) 37%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%), linear-gradient(to right, #ffb680 0%, #5e4c41 60%);
  border: solid 1px #000;
  box-shadow: 0 0 0 2px rgb(235, 97, 54) inset, 0 2px 3px 0 rgba(36, 14, 0, 0.3);
  border-radius: 50% 50%;
  box-sizing: border-box;
}

plate.active,
dish.active,
shrimpcat.active,
tunacat.active {
  animation: identifier 1s both .1s ease infinite;
}

.table dish {
  display: flex;
  justify-content: center;
  width: 10vw;
  height: 50%;
  background: radial-gradient(ellipse at center, rgba(255,255,255,.35) 0%, rgba(255,255,255,.35) 32%, rgba(0,0,0,.15) 35%, rgba(0,0,0,.05) 37%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%), linear-gradient(145deg, #f2f2f2 0%, #990000 30%, #990000 64%, rgb(253, 135, 63) 64%, rgb(253, 135, 63) 65%, #990000 65%, #990000 70%, rgb(253, 135, 63) 70%, rgb(253, 135, 63) 71%, #990000 71%, #990000 100%);
  border: solid 1px #FFE8CA;
  box-shadow: 0 0 0 1px rgb(255 61 0) inset, 0 2px 3px 0 rgb(255 0 0 / 26%);
  border-radius: 50% 50%;
  box-sizing: border-box;
}

shrimpcat {
  background-image: url('../assets/img/shrimp-cat.png');
  width: 10vw;
  height: 6.65vw;
  background-size: cover;
  margin: 0.5vw;
}

tunacat {
  background-image: url('../assets/img/tuna-cat-smoked.png');
  width: 10vw;
  height: 7.75vw;
  background-size: cover;
  margin: 0.5vw;
}

dish tunacat {
  position: relative;
  width: 8vw;
  height: 6.2vw;
  margin: 0.5vw;
  top: -2vw;
}
.shake {
  animation: shake .1s 4;
}

.table > plate .hovered,
.table > dish .hovered {
  box-shadow: 0 1px 5px 5px rgb(232 98 56);
}

.code__wrapper > span:not(:first-child):not(:last-child) .hovered {
  color: rgb(232 98 56);
}

@keyframes jumping {
  0% {
    transform: translate(0,0);
  }
  25% {
  	transform: translate(0,-2px);
  }
  50% {
  	transform: translate(0,0);
  }
  75% {
  	transform: translate(0,-2px);
  }
  100% {
  	transform: translate(0,0);
  }
}

@keyframes identifier {
  0% {
    transform: skew(2deg,0deg) scaleX(1);
  }
  10% {
    transform: skew(1deg,0deg) scaleY(.9);
  }
  50% {
    transform: skew(-2deg,0deg) scaleX(1);
  }
  60% {
    transform: skew(-1deg,0deg) scaleY(.9);
  }
  100% {
    transform: skew(2deg,0deg) scaleX(1);
  }
}

@keyframes shake {
  0%   { transform: translateX(0); }
  25% {  transform: translateX(-5px); }
  50% {  transform: translateX(0); }
  75% {  transform: translateX(5px); }
}

/* ////////////////////////////////////// */

@media(hover: hover) {
  .lantern:hover {
    box-shadow: 0 1px 5px 5px #ffe8ca69;
    user-select: none;
  }

  .input__enter:hover {
    box-shadow: 0 1px 2px 2px #ffe8ca69;
    user-select: none;
  }

  .arrow__prev:hover,
  .arrow__next:hover {
    cursor: pointer;
    border-color: rgb(232 98 56);
  }

  
  
  .code__wrapper {
    cursor: default;
  }

  
}