@media(hover: hover) {
  .lantern:hover {
    box-shadow: 0 1px 5px 5px #ffe8ca69;
    user-select: none;
  }

  .input__enter:hover {
    box-shadow: 0 1px 2px 2px #ffe8ca69;
    user-select: none;
  }

  .arrow__prev:hover,
  .arrow__next:hover {
    cursor: pointer;
    border-color: rgb(232 98 56);
  }

  .code__wrapper {
    cursor: default;
  }

  .curtain-burger__item:hover {
    box-shadow: 0 1px 5px 5px rgb(255 164 108);
    border-radius: 5px;
    cursor: pointer;
  }

  .curtain-burger__item.active:hover {
    box-shadow: 0 1px 5px 5px rgb(255 164 108);
  }
}